[2016-06-23 16:02] gonuke opened #2 "Create minimal iGeom headers for MCNP2CAD"
Based on list of iGeom calls from MCNP2CAD, make a new iGeom header that includes the minimal list of functions and build MCNP2CAD against that header, but still using CGM/Cubit.

[2016-06-23 16:03] gonuke opened #3 "Define minimal iBase header"
Based on functions called in minimal iGeom header (#2), define minimal iBase header file.

(Identify other ITAPS header files that may be necessary)

[2016-06-23 16:05] gonuke opened #4 "Create minimal iGeom implementation"
Cut out all unnecessary functions and data types from iBase and iGeom, leaving only those necessary for MCNP2CAD (https://cnerg.slack.com/files/shriwise/F1D43F0J0/list_of_igeom_functions_used_by_mcnp2cad.txt)

[2016-06-23 16:07] gonuke opened #5 "Build iGeom separately from CGM"
Currently, iGeom is built as part of the normal process of building CGMA (by default?).  It should be possible to decouple these, building iGeom as a standalone library, linked to an already build CGMA that is built without iGeom.

[2016-06-23 16:08] gonuke commented on #5
Consider just moving current itaps files to a different location and building against their full implementation and against a CGM that may have iGeom turned off???

[2016-06-23 16:15] gonuke opened #6 "Move iGeom interface to MCNP2CAD"

[2016-06-23 16:19] gonuke commented on #3
Superseded by other better formulated issues

[2016-06-23 16:19] #3 closed

[2016-07-20 13:58] makeclean opened #7 "Users reporting segfaults at the end of writing of h5m file"
User(s) are reporting that at the end of file writing, a segfault (looks like its from MOAB) is causing Trelis to lock up. The h5m file is successfully being written, but causes Trelis to lock up.

Routes were
Trelis->Import Sat->Write h5m
Trelis->Run Journal File->Write h5m

Kalin observed this issue previously, but could do with some TLC.

[2016-07-20 15:14] makeclean commented on #7
Here is the stack trace

[trelis_error.txt](https://github.com/svalinn/DAGMC-Trelis/files/374025/trelis_error.txt)

I expect this is do with teardown, either the delete of the moab instance or the geom topo tool.

[2016-07-25 16:11] gonuke opened #8 "Build DAGMC export plugin for Windows"
Based on the recent success of building the plugin for MacOS, we should try to build a Windows plugin soon. I think most of the pieces are in place.
- [ ] build a sample/example plugin (no MOAB or HDF5 necessary)
- [ ] build (or install?) HDF5 for Windows
- [ ] build MOAB for Windows
- [ ] build plugin....

[2016-07-27 20:20] gonuke commented on #7
Do we know if the final summary message is printed first?
[code]

[2016-08-12 20:57] Pshriwise commented on #7
This is likely a problem with gcc 5 ABI settings when compiling the plugin's dependencies.

When building any of the plugin dependencies for gcc version 5+ the environment variable

`CXXFLAGS=-D_GLIBCXX_USE_CXX11_ABI=0`

should be set. This will be picked up by the autotools configuration and incorporated into the build.

#9 already fixes the this problem by setting the flag in the cmake build (5c

[2016-08-31 21:13] Pshriwise commented on #7
Is there a way to confirm that this bug was fixed?

[2016-09-12 20:14] gonuke opened #10 "Add script/tool to build tarballs for distribution"
* [ ] write robust script to install from the minimal set of files that is tracked under version control
* [ ] write a README file to provide to users of the tarball with instructions once they've
* [ ] write a robust script that packages libMOAB, libhdf5 and libdagmc_export_plugin into a tarball with a README and the above-mentioned script

[2016-09-19 16:37] makeclean opened #11 "tqdcfr can not convert .trelis file"
Tim's Quick and Dirty Cubit File Reader can not read Trelis *.trelis files, which we typically use for producing tet meshes for use within DAGMC. I tried symbolic linking the file to be a *.cub file, which still produced an error. It may be a simple fix in moab, however, perhaps it would be better for us to interact with the Trelis layer directly, similarly to exportDagmc.

[2017-01-25 14:27] gonuke commented on #2
Can @ejwilson3 comment on this - can we consider it closed?  either complete or deemed unnecessary?  Other comments?

[2017-01-25 14:28] gonuke commented on #4
Can @ejwilson3 comment on this - can we consider it closed?  either complete or deemed unnecessary?  Other comments?

[2017-01-25 14:28] gonuke commented on #5
Can @ejwilson3 comment on this - can we consider it closed?  either complete or deemed unnecessary?  Other comments?

[2017-01-25 14:32] gonuke opened #15 "Resolve need for `register_attrib_type`"
Updates to CGM interface cause errors when trying to invoke `register_attrib_type` in `iGeom_funcs.cpp`.  It is not clear whether or not we need these lines at all since they are part of generic iGeom capability, but may not be used by us.

We need to understand its role in this code and then decide if we can do without it in our stripped down iGeom needs.

[2017-01-25 14:38] gonuke opened #16 "Replace Armadillo with relevant LAPACK routines/calls"
We can probably just vendor Armadillo into our code, but since we only use it as wrappers to a few LAPACK routines, it may be best to just include those LAPACK routines

[2017-01-25 14:39] gonuke commented on #15
If we deem it necessary, then create a new issue for contacting CSimSoft to resolve the interface change.

[2017-01-25 15:33] pshriwise commented on #15
If I'm understanding the current state correctly, it sounds like we don't in that groups are named properly in Trelis for MCNP input decks with materials.

One thing to verify is that these groups are exported properly using the `export dagmc` command. If this works, then I would consider the `register_attrib_type` call unecessary.

[2017-01-25 17:41] gonuke commented on #8
This is perhaps complete - @ejwilson3 ?

[2017-01-25 17:42] gonuke opened #17 "Draft "expert" install instructions for Windows"
Assume that all Windows installations of Trelis/Cubit are the same, and provide details about where to place each of the files that are distributed for Windows platform

[2017-01-25 17:42] gonuke opened #18 "Draft detailed build instructions for Windows"
Write instructions for another developer to be able to build plugin on a Windows platform

[2017-01-25 17:43] gonuke opened #19 "Develop self-extracting executable (or similar) for installation"
Find a packaging tool that will allow automatic installation in a standard location.

BONUS: discover non-standard locations and install there.

Registry?

[2017-01-25 17:44] gonuke opened #20 "Negotiate MOAB changes for Windows"
Discuss necessary changes to MOAB with Sigma team, perhaps including Kitware partners.  Hopefully arrive at a common understanding for the best approach.

[2017-01-25 17:49] gonuke opened #21 "Finalize approach for library linking"
While there are theoretically 2 options, only one may be viable:
1. shared object build, with dependent libraries placed in correct directory
2. statically linked plugin

[2017-01-25 17:50] gonuke opened #22 "Finalize distribution package"
The simplest way to distribute is in a tarball with a script, but perhaps we can use something more Mac-ish.

[2017-01-25 17:57] gonuke opened #23 "Develop automated testing strategy for Trelis plugins, in general"
Perhaps contact CSimSoft for guidance on what, if anything, they do for testing.

Perhaps it is as simple as running a journal file in a non-gui mode, but then we need to sort out license issues.

[2017-01-25 17:58] gonuke opened #24 "Develop manual testing strategy for dagmc_export"
May require a separate plugin that runs tests?  This separate plug in would be invoked with a journal file.

[2017-01-25 17:59] gonuke opened #25 "Develop manual testing strategy for mcnp_import"
This is a long-standing oft-discussed issue.  We should capture ideas somewhere and link here.

[2017-01-25 19:41] gonuke opened #26 "Develop manual testing strategy for make_watertight feature"

[2017-01-25 21:21] ejwilson3 commented on #2
I think it's done; the version that actually works with Trelis is in my fork of DAGMC-Trelis repo rather than the mcnp2cad one, though.

[2017-01-25 21:24] ejwilson3 commented on #4
Like issue #2 I believe this is completed.

[2017-01-25 21:26] ejwilson3 commented on #5
I think this should be complete; I don't have it built as a standalone library, but have it inside of the mcnp2cad part of the plugin.

[2017-01-25 21:28] ejwilson3 commented on #8
I think it is.

[2017-01-25 21:36] ejwilson3 commented on #15
How do I go about testing the .h5m file to make sure that the groups are properly exported?

[2017-01-25 23:32] pshriwise commented on #15
The easiest way is to use MOAB's `mbsize` on the .h5m file.

`mbsize -ll <.h5m_file> | grep NAME` should show you a list of the material names as they appear in Trelis.

[2017-01-26 17:34] ejwilson3 commented on #15
I think it's working.  That command on a file created from "INP-densities" returns
    NAME = picked
    NAME = graveyard
    NAME = mat_1_rho_0.05
    EXTRA_NAME0 = mat_2_rho_-2
    EXTRA_NAME1 = mat_2_rho__2
    NAME = mat_2_rho_-2
which, as far as I can tell, fits with the input file.

[2017-02-07 19:28] gonuke opened #27 "Proof-of-principle based on example - as few features as necessary"
Choose whether the exporter or importer is easier and simply enable the user to select a path/filename using the GUI.  Do not yet worry about other options/features of the exporter/importer.

[2017-02-07 19:51] gonuke opened #28 "Contact CimSoft for guidance on testing"

[2017-02-08 20:02] #8 closed

[2017-02-08 20:05] ejwilson3 commented on #15
The plugin works as expected without calling 'register_attrib_type'.

[2017-02-08 20:05] #15 closed, assigned to ejwilson3

[2017-02-08 20:07] #5 closed

[2017-02-08 20:12] ejwilson3 commented on #4
The plugin has a minimal iGeom implementation - it's still called iGeom and still uses `iBase_EntityHandle`s, but it works.

[2017-02-08 20:12] #4 closed

[2017-02-09 13:06] pshriwise commented on #6
We should really rename this interface and remove iBase conventions (and casting/recasting!) before an official release, yes?

[2017-02-16 18:56] ejwilson3 commented on #18
I forget; do I include build instructions for MOAB, or do I assume they already have that somehow?

[2017-02-16 19:41] makeclean commented on #18
I would say that we should either include instructions on how to do it, or if possilbe distribute the dlls as needed

[2017-02-21 18:44] gonuke commented on #21
Try building a fully shared version and placing the libraries on which we depend in to the Trelis bin directory (option 1)

[2017-02-21 18:49] gonuke commented on #10
Try CPack first

[2017-02-21 19:01] gonuke commented on #24
* Reimplement read_cgm_* tests from MOAB.
* introduce special build option that adds an additional command to the plugin to run tests

[2017-02-21 20:12] pshriwise commented on #25
There's been a lot of repeating discussion about this issue. I'll summarize here so we avoid having this discussion again in the future:

The pitfall we keep falling into when considering testing of the import tool is the testing that the CAD engine is creating the correct volumes from the mcnp2cad geometry by somehow checking the resulting CAD model.

The real problem at hand is testing the mcnp2

[2017-02-21 20:14] pshriwise commented on #25
We didn't specify this, but I'd imagine these would be built/executed the same way the export tests #24 will be setup.

[2017-02-28 18:14] gonuke opened #29 "Need someone to implement a Windows dev environment and/or document how to do so"
probably a VM and associated software

[2017-07-07 16:45] makeclean opened #33 "Windows Documention"
1. Need install instructions
2. Need to tell people to use the 'file > set directory' to the folder where they have write permission, do not use options> preferences > set working directory - it seems to be ignored.

[2018-08-01 18:54] pshriwise opened #40 "Watertightness Check"
It would be fairly straightforward to add an option for reporting the water-tightness of a resulting tessellation when exporting a model. It would be nice to be able to check this without leaving Trelis.

[2018-08-01 18:58] pshriwise opened #41 "Overwrite flag"
Nearly all of the other exporters in Trelis check for an existing file require the user to provide an overwrite flag to allow it to replace the file.

There's probably/hopefully a utility in the Trelis SDK which will allow one to check for an existing file to implement this.

[2018-08-05 15:18] pshriwise opened #42 "Memory Leak Check?"
In using different versions of the plugin (an older version for Trelis 16.1 and a newer version for Trelis 16.3) I find they use vastly different amounts of memory when faceting a file.

In the newer plugin version this memory usage doesn't go away after the faceting is complete, making me think there may be a memory leak somewhere...

[2018-09-12 14:26] pshriwise opened #43 "libhdf5 not provided"
Wasn't sure where to put this so it's going here...better a record of it somewhere than nowhere I figure.

Our current distribution of the plugin (found [here](https://uwmadison.app.box.com/folder/11274394420) ) doesn't include an hdf5 library, so users on ubuntu distributions may have trouble finding a library with the same name.

(This goes for armadillo too, but hopefully that will be going awa

[2018-09-20 16:26] ljacobson64 opened #44 "Plugin does not work out-of-the-box on Ubuntu 18.04"
The plugin libraries are linked to `libhdf5_serial.so.10` and `libarmadillo.so.6`, which are default in Ubuntu 16.04 but not 18.04. So in order to get the plugin to work on 18.04, you have to add this line to your `/etc/apt/sources.list`:

[code]

and then run `apt install libhdf5-10 libarmadillo6` in order to get the plugin to work.

[2018-09-20 17:35] pshriwise commented on #44
This is a duplicate of #43

[2018-11-19 05:18] gonuke commented on #16
Close this in favor of a solution based on EIGEN3 instead.

[2018-11-19 05:18] #16 closed, assigned to nobody

[2018-11-19 05:21] gonuke commented on #2
The iGeom continues to be part of this project/repo and a build system has been developed to support it.

[2018-11-19 05:22] gonuke commented on #6
This is sufficiently complete for current purposes.

[2018-11-19 05:42] gonuke opened #45 "Demonstrate Windows build of MOAB"
This build should include HDF5 and EIGEN3

[2018-11-19 05:44] gonuke opened #46 "Demonstrate a Windows build of iGeom layer"
Build iGeom against the Trelis SDK

[2018-11-19 05:52] gonuke opened #47 "Windows build of plugin against all dependencies"
With all dependencies available:
* [ ] moab [#45]
* [ ] make_watertight [svalinn/DAGMC#575]
* [ ] mcnp2cad [svalinn/mcnp2cad#52]

Build the full plugin

[2018-12-05 22:18] bam241 commented on #45
this is working.
Required softwares:
- Visual Studio 2015
- Windows SDK c++ (VS2016 component)
- HDF5 1.8.?
- CMake (GUI)
- Git
- Eigen

To manually setup MOAB installation in Windows (using CMake)

1.  install all the software required
2. CMake GUI configuration:
- disable all component (in MOAB configuration)
- enable HDF5
- configure
- remove all mention to "machine:x64" flags (should be 4 of t

[2018-12-05 22:36] bam241 commented on #45
[here](https://docs.google.com/document/d/1blGaqCUIC-ueezwXc2l9e703XFSLMVsC-5PeJKy0eA4/edit?usp=sharing) is a draft of instruction to build MOAB on Windows

[2019-02-21 15:31] gonuke opened #48 "explore use of `rpath` to point the primary plugin shared library at its dependencies"
Right now, we require the plugin dependencies to be places/linked into the `bin` directory in order for them to be found by the plugin itself.

It may be possible (??) to configure the plugin to look in a specific directory for its dependencies and simplify installation.

[2019-02-21 22:40] bam241 opened #49 "Trelis-plugin using SDK 16.5"
Build Trelis-plugin using SDK 16.5:
- on Linux:
  - [ ] As is
  - [ ] with Eigen3
- [ ] on MacOS
- [ ] on Windows

[2019-06-18 17:28] bam241 commented on #18
[[here](https://docs.google.com/document/d/1blGaqCUIC-ueezwXc2l9e703XFSLMVsC-5PeJKy0eA4/edit)] is a draft I wrote some time ago

[2019-06-24 00:08] gonuke commented on #18
Can you PR those instructions to this repo?  Either in the Readme or another file?

Also, I think there may need to be some details on how to install some of the dependencies.

[2019-09-27 22:02] pshriwise opened #50 "Plugin runtime error with master branch of MOAB"
I've built the plugin on Ubuntu 19.04 with Trelis 16.5 and MOAB master. Get this error when exporting any model.

[code]

I suspect it has to do with updates to MOAB's global ID tag.

I won't have time to look into it for a bit, but I wanted to put it here for discussion and also in case someone else is running into the same problem.

[2019-09-28 06:41] makeclean commented on #50
I fixed this - I think i reported in a cnerg slack messages it was to do with tag ownership, I've got my changes still I'll push a fiz
________________________________
From: Patrick Shriwise <notifications@github.com>
Sent: Friday, September 27, 2019 11:02:03 PM
To: svalinn/Trelis-plugin <Trelis-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [svalinn/Trelis-plug

[2019-10-17 14:25] gonuke opened #52 "Assign unsealed entities to a Trelis group"
When invoking `make_watertight` record the ID of any entity that fails to be sealed and save them in a group for the user to interrogate.

[2019-10-17 14:27] gonuke opened #53 "Lost particle importer"
Develop a mode that allows lost particle information to be imported and plotted in a geometry.  Lost particle information could be available in three different forms of increasing complexity:
1. parse an MCNP output file for all lost particle reports of just last known position and direction
2. parse an MCNP output file for all event logs
3. parse a PTRAC file

[2019-10-17 14:28] gonuke commented on #53
Note regarding event logs: A generic ability to read event logs is valuable, permitting the visualization of any arbitrary tracks.  For lost particle visualization, it will be useful to parse the event log "backwards" to avoid the branches of an event log that occur due to splitting but are never lost.

[2019-10-17 14:29] gonuke opened #54 "Tag exported geometry with volume names"
Trelis allows users to define names of volumes that have human or computational semantic value.  It should be possible to tag each entity with its name in Trelis, whether its the default or not.

[2019-10-17 14:31] gonuke opened #55 "Report all entities that fail to facet"
Similar to #52 but for faceting failures.
At the very least, these entities need to be reported in a useful way to the user, but ideally they are also added to a Trelis group.

[2020-04-23 04:08] liangjg opened #57 "Trelis plugin installation"
I failed to install trelis-plugins. Wondering if anyone ever encountered the same issue.
 - system: Ubuntu 18.04
- Trelis: both pro 17.0 and pro 16.5 from [Coreform Trelis Trial](https://csimsoft.com/trialTrelis)
Firstly, we tried the [distributions](https://uwmadison.app.box.com/v/dagmc-trelis), but apparently the Trelis-plugin is not loading:
[code]
- Then we tried to install the plugin from the

[2020-04-23 05:56] makeclean commented on #57
The sbowviz base I can help with, remove mentions of those from the *.cmake files in the Trellis bin directories, then it should build
________________________________
From: Jingang Liang <notifications@github.com>
Sent: Thursday, April 23, 2020 5:08:25 AM
To: svalinn/Trelis-plugin <Trelis-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [svalinn/Trelis-plugin] Tr

[2020-04-23 09:28] liangjg commented on #57
@makeclean Thanks for your advice. It works (though not sure if deleting the 'showviz_base' will affect the functionality). I'm closing this issue but do expect someone will update the [plugin distributions](https://uwmadison.app.box.com/v/dagmc-trelis) for newer versions of Cubit/Trelis.

[2020-04-23 09:28] #57 closed, assigned to nobody

[2020-04-23 09:29] makeclean commented on #57
I suspect that its on the todo list - this particular issue is upstream in Trelis

On 23 Apr 2020, at 10:28, Jingang Liang <notifications@github.com<mailto:notifications@github.com>> wrote:

@makeclean<https://github.com/makeclean> Thanks for your advice. It works (though not sure if deleting the 'showviz_base' will affect the functionality). I'm closing this issue but do expect someone will updat

[2020-04-23 11:48] gonuke commented on #57
Thanks for reporting this @liangjg

We were not aware of a new Trelis version, yet, but we'll look into it soon.

[2020-06-25 13:56] gonuke opened #58 "create script to autodownload and install plugin"
A script that takes a path to the Trelis bin dir and automatically downloads and installs the plugin in the correct location.

[2020-08-20 17:22] #40 closed, assigned to nobody

[2020-08-20 17:36] pshriwise opened #60 "iGeom incompatibility for Trelis >= 17.0"
When recently building the plugin, I found that the call to `CGMApp::instance()->attrib_manager()` now returns an object rather than a pointer to an object. So we'll need to do some version checking in the CMake and add a compiler def in the `iGeom.cpp` file. Thankfully this only affects one region of the code.

[2020-10-22 22:35] jbae11 opened #66 "User getting `ERROR: Unrecognized Identifier: 'dagmc'`"
Hello, I was trying to use the plugin on my Ubuntu 20.04, with Cubit 15.6.

I used the
I'm not sure if I'm doing something wrong, but I wasn't able to open the tar file from the curl command, so I downloaded the one named `svalinn-plugin-16.5-u18.04.tgz` and followed the instructions from the `svalinn-plugin-linux-install.txt`.  The install script was run on `cubit/bin/` and I didn't get any error

[2020-10-23 18:16] qingfengxia opened #67 "cmake option should be -DCUBIT_ROOT instead of -CUBIT_ROOT"
cmake ../Trelis-plugin -CUBIT_ROOT=/opt/Trelis-17.1 \

[2020-10-23 18:23] ljacobson64 commented on #67
Great catch, you are correct. I will submit a PR to fix this

[2020-10-23 18:27] qingfengxia commented on #67
thank you,  I fixed my silly error when installing SDK, now it compiled.

[2020-10-23 18:56] bam241 commented on #66
Hi @jbae11
could you link `svalinn-plugin-linux-install.txt`, I don't know where this is located.

otherwise to install, I would do is:
[code]

I am also wondering:
- what is the absolute path to you cubit install folder. I seems to me that we hard code some path in the library that corresponds to Trelis not Cubit. @ljacobson64 do you think it might be a problem ?
- can you go in `cubit/bin`,  giv

[2020-10-23 19:34] jbae11 commented on #66
Hi @bam241 thank you for the quick reply! I hope you're doing well.

I got it from  https://uwmadison.app.box.com/v/dagmc-trelis/file/208482372859

Where could I get this tar file?

I get `/home/4ib/codes/cubit-15.6/bin` for the `pwd`, and:

[code]

[2020-10-23 20:12] pshriwise commented on #67
This had been addressed by #68. Thanks for reporting it @qingfengxia!

[2020-10-23 20:12] #67 closed, assigned to nobody

[2020-10-23 20:53] ljacobson64 commented on #66
The tarball you downloaded was only tested with Trelis 16.5. It may or may not work with Cubit 15.6. In any case, your output of `readelf -d libsvalinn_plugin.so` shows that it is looking for Trelis in `/opt/Trelis-16.5`, not in `/opt/cubit-15.6`. If you create a symlink so that `/opt/Trelis-16.5` points to `/opt/cubit-15.6`, then the plugin may work if it turns out it's compatible with Cubit 15.6

[2020-10-23 21:00] ljacobson64 opened #69 "Use $ORIGIN in rpath instead of hard-coding"
Right now, we hard-code the rpath into our libraries as `/opt/Trelis-17.1/bin/plugins/svalinn`. This hard-coding means that the plugin will not work with different versions of Trelis. One solution to this problem would be to set the rpath to be `$ORIGIN`, which apparently resolves to wherever the executable or library is at runtime.

See this article: https://medium.com/@nehckl0/creating-relocatab

[2020-10-25 19:39] jbae11 commented on #66
@ljacobson64 thank you for the answer, terribly sorry but how can I do that? my cubit path is `/home/4ib/codes/cubit-15.6`

[2020-10-28 20:35] jbae11 commented on #66
@bam241 helped me out via a call and we made a new plugin build that works now for Cubit-15.6. It recognized and got the dagmc plugin. However, when I ran the export command, cubit crashed with message:
[code]
any ideas what this might mean?
thanks

[2020-10-28 20:36] bam241 opened #70 "inconsistencies between Trelis 17.1 and 16.5"
I just found out issues with building the plugin with 16.5.

SDK are not packeted the same way (`Trelis/bin` vs `bin/`)

`find_package(Cubit REQUIRED CONFIG)` do not work
I had to use:
`find_package(Cubit)` instead
(It still complained that Cubit was not found, but the plugin I build was working anyway....

[2020-10-28 20:37] bam241 commented on #66
can you give us a `readelf -d` on `libdagmc_export_plugin.so` ?

[2020-10-28 20:40] bam241 commented on #66
`libdagmc_export_plugin.so` should not leave in the plugin you have, maybe it is remaining from previous install you did ?

I would suggest to clean from any the Svalinn plugin lib and reinstall

[2020-10-28 20:42] jbae11 commented on #66
[code]

[2020-10-28 20:43] bam241 commented on #66
this should not be there.... remove everything related to svalinn and install the plugin again :)

[2020-10-28 20:45] jbae11 commented on #66
I did that, and still crashed, but with a different message :)
[code]

[2020-10-28 20:46] bam241 commented on #66
`readelf -d libsvalinn_plugin.so` ?

[2020-10-28 20:47] jbae11 commented on #66
[code]

with this:
[code]

[2020-10-28 20:48] bam241 commented on #66
and `ldd libsvalinn_plugin.so| grep MOAB` ?

[2020-10-28 20:49] jbae11 commented on #66
[code]

with:
[code]

[2020-10-28 20:50] bam241 commented on #66
`ldd libsvalinn_plugin.so| grep iGeom` ?

[2020-10-28 20:51] jbae11 commented on #66
this might be it:
[code]

[2020-10-28 20:51] bam241 commented on #66
this is weird

[2020-10-28 20:52] bam241 commented on #66
you should have something like `/opt/Trelis-17.1/bin/plugins/svalinn/libiGeom.so`

have you trying to install Moab and put some of the library somewhere in cubit ?

[2020-10-28 20:53] jbae11 commented on #66
yeah i copied that file to one down (in `plugins`) and got a different error:
[code]
I think the paths to the files are a bit off, like they're either on `bin` or `bin/plugin`, not `bin/plugin/svalinn`

[2020-10-28 20:56] bam241 commented on #66
I don;'t understand what that means....
but my guess is the libiGeom that is in you bin folder is the one you build yourself, and don't had the right compiling flags.
if you removed it, then Cubit must have fallen back on the one we ship with the plugin, and then you have a problem because your version of cubit is not compatible with the version fo Trelis I used to build the plugin....

[2020-10-29 14:14] pshriwise commented on #60
Addressed by #64

[2020-10-29 14:14] #60 closed, assigned to nobody

[2020-10-29 14:18] bam241 commented on #70
here is the error I see:
[code]

[2020-10-29 16:04] makeclean commented on #70
The .cmake files are broken, this was true in trelis 16.5 too, if you remove showviz from the offending .cmake files it will work fine
________________________________
From: Baptiste Mouginot <notifications@github.com>
Sent: Thursday, October 29, 2020 2:18:41 PM
To: svalinn/Trelis-plugin <Trelis-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [svalinn/Trelis-

[2020-10-29 16:07] pshriwise commented on #70
Indeed. We got this sorted out this morning. There's also a provided note from @ljacobson64 in the README on this. I think that's the best we can do for now. Closing...

[2020-10-29 16:07] #70 closed, assigned to nobody

[2021-03-17 18:38] bam241 opened #87 "compatibility with newer version of Cubit.2020.2"
trying to run the last release of Cubit with our version of the plugin end up in a segfault.

this version of cubit comes as a tarball nor a deb... so they apparently change their install system....

was not able to get a useful trace yet.

[2021-03-17 18:43] pshriwise commented on #87
At what point does it segfault? When it's loading Cubit or on export?

[2021-03-17 18:53] bam241 commented on #87
loading, working on getting more details

[2021-03-17 19:40] bam241 commented on #87
here is the backtrace:
[code]

[2021-03-17 19:42] bam241 commented on #87
[code]

[2021-03-17 19:42] bam241 commented on #87
thx ldd looks good

[2021-03-17 20:43] bam241 commented on #87
try to rebuild the plugin with the new Cubit binary (and the old SDK) and I ended up with the same segfault.

Not sure how much more I can do without a manual debug (`cout` statement everywhere in the plugin...)

[2021-03-22 15:12] qingfengxia opened #88 "bug: macro function in DAGMCExportCommand.cpp"
[code]

Wont return A or B instead of rval, which is not in the parameter list?

Although, it does not report error during compiling.

[2021-03-22 15:28] makeclean commented on #88
This macro is to be used where, A is your message to print on failure, B is the return value from some function, this is compared against success, and maybe it should return B instead of rval?

[2021-03-22 15:29] makeclean commented on #88
its inherited from MOAB

[2021-03-22 23:44] gonuke commented on #88
I'll have to double check and see if MOAB has the same issue, but I think it should return B

[2021-03-22 23:54] gonuke commented on #88
Also, it doesn't report an error because it is always called immediately after evaluating `rval` and it is in scope

[2021-03-31 03:08] zxkjack123 opened #94 "Segmentation fault (Ubuntu 18.04, Trelis 17.1)"
A "Segmentation fault (core dumped)" error happened when Trelis-plugin installed.

## Environment
- OS: Ubuntu 18.04
- Trelis: Trelis 17.1
- Trelis SDK: Installed SDK for Trelis 17.1
- Submodules:
    - pyne: develop (failed to clone it during the default installation, it is manually linked to pyne develop)
    - mcnp2cad: default
- Others: A fresh new account created for Trelis-plugin installatio

[2021-03-31 08:17] zxkjack123 commented on #94
Tried  `pyne @ 860d983`, and rebuild dagmc, trelis-plugin again. But failed with `Segmentation fault (core dumped)` too.

[2021-03-31 13:35] bam241 commented on #94
have you try to unset you LD_LIBRARY_PATH before launching Trelis ?

[2021-03-31 13:37] bam241 commented on #94
if that still does not work you can always try the one built with our GitHub Action:
https://github.com/svalinn/Trelis-plugin/suites/2383066015/artifacts/50610701

[2021-03-31 13:39] bam241 commented on #94
also are you able to get a backtrace ?

also have you compiled the MOAB DAGMC and the plugin with the `-DCMAKE_CXX_FLAGS=-D_GLIBCXX_USE_CXX11_ABI=0` flag ?

[2021-03-31 13:42] zxkjack123 commented on #94
Sure, but this error happens after unsetting LD_LIBRARY_PATH too. Actually, there is nothing in LD_LIBRARY_PATH when I use the new account.

[2021-03-31 13:53] zxkjack123 commented on #94
The package of GitHub Action works on my machine, the following info shows up when trelis launched:
[code]

[2021-03-31 13:56] zxkjack123 commented on #94
There isn't backtrace information printed.
As for the compile command, I followed the command provided in the README. Both of MOAB and DAGMC has the `-D_GLIBCXX_USE_CXX11_ABI=0` flag.

[2021-03-31 13:58] bam241 commented on #94
what you can try is run this in command line inside `gdb` (there is an example of a Trelis run using command line in https://github.com/svalinn/Trelis-plugin/blob/develop/test_plugin/test.sh

[2021-04-04 03:50] thuDJ opened #95 "How to export in 'cm'?"
Some Monte Carlo codes' default length unit is 'cm', while Trelis's default unit is 'mm'.

How can I export dagmc file in 'cm'?

[2021-04-04 14:57] gonuke commented on #95
Trelis doesn't really have a default unit.  You can build models in Trelis/Cubit in any units.  If you import a model from some other CAD package, that package may have a default unit of `mm` that gets carried forward into Trelis/Cubit.

If you find yourself in this case, one option is to scale the entire model in Cubit by a factor of 10.  I think the command is something like:
`vol all scale 0.1`

[2021-04-05 01:46] thuDJ commented on #95
Thanks a lot. I was in that case.

[2021-04-05 08:16] shimwell commented on #95
Thanks for letting us know it worked, I shall close this issue now but feel free to reopen if the problem persists.

[2021-04-05 08:16] #95 closed, assigned to nobody

[2021-04-07 13:03] MigMagan commented on #87
Coreform just released 2021.3. Starting with this version, the SDK comes with the package, meaning one annoyance less to deal with. What are the plans for the plugin? For what is worth, I tried building it against the new version, and I could not load it either...

[2021-04-15 13:40] bam241 opened #96 "Linux and MacOS GitHub action script merge"
as @gonuke and @pshriwise mention in #86 the linux and the MacSO GitHub action are similar enough so they could be merged into a single file.

[2021-06-24 15:09] bam241 opened #103 "build persistent environment for CI"
We should try at least for ubuntu/linux to build persistant docker environment to build the plugin, instead of rebuilding it every time....

[2021-06-24 15:36] gonuke commented on #103
We can do this with GH actions!  Maybe @Shimwell can lead this effort?

[2021-06-24 18:39] shimwell commented on #103
Dynamic building is nice as it uses the latest dependencies, while using a persistent docker environment is nice as it gets through the tasks quickly.

Perhaps caching is the way to go here as it allows the best of both
https://evilmartians.com/chronicles/build-images-on-github-actions-with-docker-layer-caching

I can certainly have a go with this

[2021-06-28 22:50] NikosNikolopoulos opened #104 "DAGMC build cmake command failure"
Good evening,

I am trying to install the CUBIT-plugin in my Windows PC using WSL2 - Ubuntu 20.04 LTS. I reached until the **DAGMC Build** section after executing the cmake command I get this error:

`CMake Error at cmake/DAGMC_macros.cmake:222 (add_library): Cannot find source file: /home/nikos/plugin-build/DAGMC/DAGMC/src/pyne/pyne.cpp`.

I have thoroughly followed the instructions in the previo

[2021-06-28 23:37] bam241 commented on #104
Hello,
We have some ongoing change on the DAGMC repo we haven't updated the documentation for it yet...
Pyne has moved into a git submodules, and cmake should take care of this for you, but we now have python as a dependencies for building `dagmc`...
To help debuging your `dagmc` build I would need to get a look at your full cmake output...

if you are looking for prebuilt Svalinn plugin for Cubit

[2021-06-28 23:38] bam241 commented on #96
this has been done in #97 closing

[2021-06-28 23:38] #96 closed, assigned to bam241

[2021-06-28 23:40] bam241 commented on #87
yes compatibility is back on 2021.x, this was caused by a missing file in the SDK for 2020.... closing.

[2021-06-28 23:40] #87 closed, assigned to nobody

[2021-06-29 07:49] NikosNikolopoulos commented on #104
Hello,

okay the full output I get after executing the cmake command is:

[code]

In parallel I will proceed downloading the prebuild Svalinn Cubit-plugin you provided.

Note that I would like to import CAD files to cubit in order to produce .h5m files and then follow instructions in order to import the converted CAD geometry to FLUKA. In my understanding it is not sufficient to download Cubit fro

[2021-06-29 11:55] bam241 commented on #104
this is the root of your problem building the plugin: you need a python interpreter.

Nevertheless, I am not sure if building the plugin from source is the right solution. If you are using the pre-compiled version building is not necessary...

This is correct that you need to install the plugin in addition to the Coreform-Cubit, recent instruction can be found here:
https://github.com/svalinn/DAGM

[2021-06-29 13:06] NikosNikolopoulos commented on #104
Thank you for pointing out the reason behind the build fail. So that means that I will have to install a precompiled cubit-plugin.

Just to clarify, I have installed the latest version of cubit (Coreform-Cubit-2021.5-Lin64.deb) from the official website (https://coreform.com/products/downloads/) and I have extracted the precompiled plugin package that corresponds to my Cubit installation version (

[2021-06-29 14:11] bam241 commented on #104
Yes and no,

Yes for the install of Cubit and getting it form Coreform website.

But the plugin you'll need can be found here: https://github.com/svalinn/Cubit-plugin/releases

yes you an discard the plugin-build and the Cubit-plugin repo that you downloaded before...

[2021-06-29 14:13] bam241 commented on #104
the plugin you install need to match the version and platform you installed cubit for.

if you install the Cubit on native windows system you'll need to get the plugin from: https://uwmadison.box.com/s/rvjexbdbktby03ibfkgfar3cwzl68vk6

in you install cubit  `Coreform-Cubit-2021.5-Lin64.deb` in you WSL environment (basically linux) you will need to install a linux plugin you'll get from: https://gi

[2021-06-29 14:53] NikosNikolopoulos commented on #104
Thank you for your patience. After successfully installing `Coreform-Cubit-2021.5-Lin64.deb` and the corresponding linux plugin from the link you provided, I tried to run `coreform_cubit` and got the errors below:

[code]

do those errors have to do with the plugin installation?

[2021-06-29 15:35] bam241 commented on #104
this looks like idependant of our plugin, have you try to run Cubit before installing the plugin ?

[2021-06-29 22:17] NikosNikolopoulos commented on #104
You are right those errors existed prior to the plugin installation, which is strange because I just followed these 4 commands listed in the official coreform-cubit website:

[code]

for the installation and no errors occurred...

Furthermore even after the plugin installation the expected message:

`Loaded Svalinn plugin.
-- DAGMC export command available.
-- iGeom_test command available.
-- MCNP

[2021-06-30 01:39] bam241 commented on #104
I am unfamiliar with those instructions but usually `.deb` linux package are installed using `dpkg -i` or `apt-get install -y ` (often preceded with `sudo`)

[2021-06-30 01:45] bam241 commented on #104
Installation instruction on linux. ( it is hidden in the `Linux-specific issues` section)
[code]

(Ubuntu is a Debian based Linux OS....)

[2021-06-30 14:55] NikosNikolopoulos commented on #104
Thank you @bam241 for the tip, Coreform-Cubit-2021.5 has been installed successfully and operates properly (no errors pop up when the coreform_cubit command is executed). I used this command:

`tar zxvf svalinn-plugin_ubuntu-20.04_cubit_2021.5.tgz -C /opt/Coreform-Cubit-2021.5`

to extract the precompiled cubit plugin to the cubit installation directory. I am attaching a screenshot of the command

[2021-06-30 15:44] NikosNikolopoulos commented on #104
Update: Managed to extract properly the precompiled plugins. I will create a different topic if I anything unexpected occurs with DAGMC in the next steps, thanks!
<img width="652" alt="Screenshot" src="https://user-images.githubusercontent.com/70571034/123991165-c532e400-d9ca-11eb-9b5a-785749f3a92c.png">

[2021-06-30 15:44] #104 closed, assigned to nobody

[2021-07-23 15:09] bam241 opened #106 "build compatibility with new DAGMC subrepo for PyNE"
We seem to have problem with the new DAGMC way to deal with PyNE on MACOS....

new amalgamation and git subrepo might require some adjustment.

I spotted a problem at least for MacOS

[2021-07-24 02:44] ondrejch opened #108 "Segfault on Centos 8"
Hi, all builds fine and installs just copy-pasting the install scripts.
After installation, Cubit segfaults with the below. Any ideas? Thanks.

$ coreform_cubit
[2021-07-23 22:18:48.378] [info] RLM session initialized
Supervisor::Impl::load_plugins: Loaded component: libcoreformcae.ccg from directory: /opt/Coreform-Cubit-2021.5/bin
Supervisor::Impl::load_plugins: Loaded component: libcubitcomp.ccl

[2021-07-24 10:33] makeclean commented on #108
HI @ondrejch could you report what ldd libsvalinn_plugin.so gives? I recently found a linking issue with the plugin but don't have a fix yet.

[2021-07-24 14:39] ondrejch commented on #108
Hi @makeclean, it seems all dynamic libraries are linked:

$ ldd libsvalinn_plugin.so
ldd: warning: you do not have execution permission for `./libsvalinn_plugin.so'
	linux-vdso.so.1 (0x00007fffa8b44000)
	libcubiti19.so => /opt/Coreform-Cubit-2021.5/bin/libcubiti19.so (0x00007ffa1074a000)
	libMOAB.so.0 (0x00007ffa1014d000)
	libdagmc.so (0x00007ffa0fedd000)
	libpyne_dagmc.so (0x00007ffa0fa9b000)
	l

[2021-07-24 21:16] dagmcci commented on #108
Could it be do to with that permission warning?

On Sat, 24 Jul 2021 at 15:40, 'Ondrej Chvala' via dagmcci <
***@***.***> wrote:

[2021-07-24 21:19] ondrejch commented on #108
No. This is caused by the "chmod 644 *" step in the installation guide. It segfaults the same either way.

[2021-07-24 22:08] bam241 commented on #108
could you provide the exact command line you used to compile MOAB, DAGMC and the plugin ? (copy pasting from the script might not be enough, as there is variable set in the background....

mainly:
[code]

[2021-07-24 22:09] bam241 commented on #108
also may I ask who is behind @dagmcci  ?

[2021-07-24 22:53] ondrejch commented on #108
I do hope I missed something :-) Here it is:

unset LD_LIBRARY_PATH
mkdir plugin-build
cd ${HOME}/plugin-build
mkdir -pv moab/bld
cd moab
git clone https://bitbucket.org/fathomteam/moab -b Version5.1.0
cd moab
autoreconf -fi
cd ../bld
../moab/configure CXXFLAGS=-D_GLIBCXX_USE_CXX11_ABI=0 --enable-shared --enable-optimize --disable-debug --disable-blaslapack --with-eigen3=/usr/include/eigen3 --with

[2021-07-24 23:09] bam241 commented on #108
It seems That you are missing the ABI flag for the plug-in :)

[2021-07-25 02:15] gonuke commented on #108
Is our documentation missing the ABI flag?

[2021-07-25 04:25] bam241 commented on #108
@gonuke yes the readme.md Is missing it :)

[2021-07-26 14:02] pshriwise commented on #106
What error is it giving you?

[2021-07-26 14:09] bam241 commented on #106
was just a python2-3 error
I fixed it with svalinn/dagmc#773

this can be closed now :)

[2021-07-26 14:09] #106 closed, assigned to bam241

[2021-07-26 16:54] ondrejch commented on #108
Woo, this worked :) Thanks Baptiste @bam241! Please add that to the Readme ;-)

cmake ../Cubit-plugin -DCMAKE_CXX_FLAGS=-D_GLIBCXX_USE_CXX11_ABI=0 -DCUBIT_ROOT=/opt/Coreform-Cubit-2021.5/  -DDAGMC_DIR=${HOME}/plugin-build/DAGMC                        -DCMAKE_BUILD_TYPE=Release                        -DCMAKE_INSTALL_PREFIX=${HOME}/plugin-build

[2021-07-26 22:54] bam241 opened #109 "Trelis 17.1 MacOS"
plugin in not loading.

I suspect the path to be wrong as copying the library we ship with the plugin both in `Contents/MacOS` and `Contents/MacOS/plugin` fixes the issue

[2021-08-02 19:30] gonuke opened #111 "Test installation in CI"
I wonder if it is possible to test the installation process in CI by installing the plugin on a fresh cubit install and running something in batch mode?

[2021-08-02 20:36] shimwell commented on #111
Perhaps testing via the Cubit python API could also work :snake:

I can make a test that combines few stp files to production a h5m file using the Cubit Python API and pytest if that helps

[2021-08-04 20:39] shimwell opened #112 "Cubit plugin in a Dockerfile glibc version error"
Let me know if this should be opened on the MOAB repo but I've stumbled across an error when installing the plugin within a few Dockerfiles

It appears that ```GLIBC_2.29``` is required by MOAB but this is not always available in the OS
continuumio/miniconda3:4.10.3 was published 12 days ago and comes with ```GLIBC_2.28``` and continuumio/miniconda3:4.9.2 which is the previous release also has ```

[2021-08-04 21:27] bam241 commented on #112
The problem might be related to your LD_LIBRARY_PATH, when running from command line I have to unset it....

[2021-08-04 22:40] shimwell commented on #112
Had a quick go with setting the LD_LIBRARY_PATH to nothing. Looks like the same error occurs

this is with ubuntu 21.04 base image

![Screenshot from 2021-08-04 23-39-21](https://user-images.githubusercontent.com/8583900/128264564-41b5777f-dc3e-4c7a-bf99-a9ee060c592e.png)

[2021-08-06 15:41] shimwell commented on #112
I'm thinking of adding a matrix to the build for different images as we have a few different glic versions

ubuntu 20.04 makes use of glibc 2.31
ubuntu 21.04 makes use of glibc 2.33
debian 10.10 makes use of glibc 2.28

[2021-08-09 12:26] shimwell commented on #112
Just managed to get the Cubit plugin building for Debian 10.10
https://github.com/Shimwell/Cubit-plugin/runs/3279990398?check_suite_focus=true

[2021-08-09 16:28] shimwell commented on #111
I'm thinking something like this can be added to the yml files

[code]

[2021-08-09 16:56] shimwell commented on #112
PR #115 should solve this issue

[2021-08-10 07:48] bam241 commented on #111
do you need a cubit license to run this ?

[2021-08-10 09:38] shimwell commented on #111
I think we fall into the **non commercial** use for students, hobbyists, **researchers** as mentioned described on the cubit-learn product page https://coreform.com/products/coreform-cubit/free-meshing-software/

Perhaps good to double check with  Coreform

@GregVernon are we ok to make use of Cubit learn in the CI testing of the DAGMC plugin for Cubit learn?

[2021-08-10 19:01] GregVernon commented on #111
@Shimwell - you're okay to use Coreform Cubit Learn as you've described.  Thanks for checking!

[2021-08-11 09:12] shimwell commented on #112
Thanks everyone for helping with the PR #115 that solved this problem I was having.

[2021-08-11 09:12] #112 closed, assigned to nobody

[2021-08-11 09:25] shimwell commented on #111
Just tinkering around with a docker file that downloads Cubit from where it is hosted (backblaze) and installing the plugin within a few environments. I noticed the download takes 15mins from here.

While this is not much time it will be the longest stage in the building of our docker images. We currently have 6 Docker based builds. So we would be downloading this 6 * 15 mins with the simplest set

[2021-08-11 11:09] shimwell commented on #111
Just stumbled along a not batch compatible aspect of importing Cubit via python and raised it on the Cubit forum https://forum.coreform.com/t/automatically-accepting-the-license-agreement-y-n/1208

[2021-08-11 15:39] shimwell commented on #111
Thanks @GregVernon for

This has now be solved by Greg on the forum.

[2021-08-12 02:10] gonuke commented on #109
Fixed in #110

[2021-08-12 02:10] #109 closed, assigned to bam241

[2021-08-13 04:45] bam241 commented on #108
This seems to have been fixed. closing.

Feel free to re-open if this still occurs or you experience this again.

[2021-08-13 04:45] #108 closed, assigned to nobody

[2021-08-13 04:47] bam241 opened #118 "CI docker image"
Now that we switched to docker for our linux build, we should pre-build the docker image with all the pre-requisites in it.

[2021-08-13 10:00] gonuke opened #119 "Add CentOS and similar systems to CI/autobuild"
With build now demonstrated on CentoOS (#108), we should put it in our deployment set

[2021-08-13 10:12] bam241 commented on #103
this is redondant with #118

[2021-08-13 10:12] bam241 commented on #118
duplicate of #103 closing here and posting my comment there

[2021-08-13 10:12] #118 closed, assigned to nobody

[2021-08-13 10:13] bam241 commented on #103
Now that we switched to docker for our linux build, we should pre-build the docker image with all the pre-requisites in it.

[2021-08-19 14:27] shimwell opened #120 "Mac OS build failing on GH actions"
After triggering the recent release at the DAGMC meeting I noticed that the Mac OS builds failed

https://github.com/svalinn/Cubit-plugin/runs/3372537266?check_suite_focus=true

It failed on the DAGMC build with the message ```fatal error: too many errors emitted, stopping now [-ferror-limit=]```

[2021-08-20 20:31] gonuke commented on #120
I'm pretty sure this is due to changes in DAGMC that is not being tested for MacOS

[2021-08-20 20:31] gonuke commented on #120
An effort is underway to address this

[2021-08-22 06:00] bam241 commented on #120
this is fixed in both coming PR svalinn/dagmc#727 and svalinn/dagmc#780

DAGMC.cpp is missing and `#include <array>` I guess windows and Mac compile are less permissive than the linux ones :)

[2021-08-22 16:37] bam241 commented on #120
The fix has been merged svalinn/DAGMC#780.
I restarted the release action for Mac.
this should allow to upload the correct packages.
closing when everything is confirmed as passed

[2021-08-22 16:54] bam241 commented on #120
the Mac workflow worked as expected. closing.

[2021-08-22 16:54] #120 closed, assigned to bam241

[2021-09-30 12:50] shimwell opened #124 "Github About update"
Currently the About section on the right hand side of the repo reads "Plugins and command extensions for Trelis"

Perhaps it should be updated to Cubit?

[2021-10-06 19:30] Itay-max opened #126 "Error storing surface senses"
Hello
I am having trouble to export my geometry from cubit into a .h5m file format using dagmc.

I've came across this problem already in this [query](https://groups.google.com/g/dagmc-users/c/HIwohB36_Cg).
the problem might be overlapping.
If the problem is indeed caused by overlapping,  how can I fix it using cubit?

Anyway,
:here is the full log of the error
Cubit>export dagmc "test.h5m"

Setti

[2021-10-06 19:51] shimwell commented on #126
It might be worth trying the new overlapping tool that comes with DAGMC to check for overlaps.

To check for overlaps in the resulting h5m file one can use the DAGMC overlap checker. -p is the number of points to check on each line
[code]

[2021-10-06 20:39] Itay-max commented on #126
Thank you for your reply.
I am still not able to export to h5m due to the error I mentioned.

[2021-10-07 06:19] makeclean commented on #126
Hi @itayhorin please look at the following Cubit tutorial - https://coreform.com/downloads/lecture7-Power_ToolsPDF.pdf - it will tell you how to use 'PowerTools' when you click analyse it should show you overlapping volumes in the tree. You can go from there to figure out how to resolve overlaps, usually a combination of Boolean operations to remove the gross overlaps, or moving if there are allig

[2021-10-23 13:41] gonuke commented on #124
Thanks for pointing this out @Shimwell - I’ve taken care of it

[2021-10-23 13:41] #124 closed, assigned to nobody

[2021-11-15 20:50] Itay-max commented on #126
Thanks!

[2021-11-15 20:50] #126 closed, assigned to nobody

[2021-11-15 20:56] Itay-max opened #127 "Cubit plugin - Windows OS"
Hello,
Is there any tutorial explaining how to integrate the dagmc plugin into cubit on Windows?

Thanks

[2021-11-15 21:07] #127 closed, assigned to nobody

[2021-11-15 21:07] Itay-max opened #128 "Operating plugin on Windows OS"
Hello,
Is there any tutorial explaining how to integrate the dagmc plugin into cubit on Windows?

Thanks

[2021-12-15 15:07] shimwell opened #129 "Build Cubit for Coreform Cubit version 2021.11"
Coreform[ release Cubit 2021.11](https://coreform.com/products/downloads/) recently and we don't yet to have a plugin built for this version.

I believe that it is fairly straight forward to update the Github Action scripts so that the Svalinn Plugin for this new version of Cubit can be included in the next release.

[2021-12-16 15:26] shimwell commented on #129
The release action for linux appears to be failing when servers are not responding

I've rerun it 3 times in cases it is an unlucky glitch but still different individual runs are failing with this error

[code]

[2021-12-16 15:47] makeclean commented on #129
Does it matter that this is pointing to version 2021.4 rather than 2021.11?

[2021-12-16 18:25] shimwell commented on #129
Oh that is just the specific version that failed for that github action run, it builds 9 different combinations on the linux yml.

It would be ideal if they all build and get uploaded. I know we have the older 2021.4 on the previous release but it would be nice to get them all for each release

[2022-02-19 10:38] Singhlp97 opened #132 "Failed loading plugin"
Hello everyone!
I am trying to run Cubit 2021.11 with svalin plugin on Ubuntu 20.04, but the system fail to load the plugin and it shows me the following error:
![immagine](https://user-images.githubusercontent.com/99200106/154797360-96e5948f-1f67-43a7-9cc3-9330e294d602.png)

How can I solve this issue?

Thanks,
Lovepreet

[2022-03-01 17:26] #132 closed, assigned to nobody

[2022-07-07 18:57] sjcrs opened #133 "Crash on export with OSX"
Hi,
I have installed Cubit 2021.5 on my Macbook (running 11.4 Big Sur) and have installed the corresponding Cubit plugin for macOS and cubit 2021.5.  With a simple STEP file imported, I'm following the directions here (https://svalinn.github.io/DAGMC/usersguide/cubit_workflow.html).  When I run the `export dagmc` command, Cubit crashes and returns a lengthy problem report.  The head of this shows:

[2022-07-11 03:32] pshriwise commented on #133
Sorry to hear this is crashing @sjcrs!

It looks to me like this is coming from the following assertion in MOAB that has to do with the length of tag data
https://bitbucket.org/fathomteam/moab/src/f641aadf7c6d240be3e6140c458bfdfb912bb3a1/src/io/WriteHDF5.cpp#lines-2942

Out of curiosity, can you successfully export a single volume like a sphere or box?

[2022-07-12 19:35] sjcrs commented on #133
I created a single cube in CAD, exported to STEP, imported into Cubit, and saw the same behavior on exporting to dagmc.

[2022-07-12 20:50] makeclean commented on #133
Could you attach a cubit journal file, or an acis file fully marked up that we can take a look at?

[2022-07-13 14:15] Mark-Anderton opened #134 "Cannot open shared object file"
Because I need to use a non-commercial license I need to use Corefoam Cubit 2022.6. Fully knowing that there isn't a DAGMC plugin for this version yet I've tried running 2022.6 with the 2021.11 plugin and run into the following error:

`dlopen ERROR /opt/Coreform-Cubit-2022.6/bin/./plugins/libsavlinn_plugin.so : libMOAB.so.5 : cannot open shared object file : No such file or directory`

Is this er

[2022-07-13 14:17] makeclean commented on #134
@Mark-Anderton try running it from the terminal, prepend a blank LD_LIBRARY_PATH i.e. `LD_LIBRARY_PATH="" /opt/coreform/bin/coreform_cubit`

[2022-07-13 14:31] Mark-Anderton commented on #134
@makeclean thank you very much for your quick reply! Unfortunately, that's not made any difference, I'm still getting the same error.

[2022-07-13 20:26] makeclean commented on #134
ok, could you list the contents of the svalinn plugin directory? showing the various .so or .dylib files?

[2022-07-14 10:51] bam241 commented on #134
I believe the problem might come from a change in the Cubit root folder:
it is now: `Coreform-Cubit-2022.6`

when we build the plugin for linux, the path to various lib are hardcoded into the libs... using `patchelf`

We need to build a new version of the plugin for `Cubit-2022.6`

[2022-07-14 10:54] bam241 commented on #134
a temporary fix might be to run :

[code]

then run as
`LD_LIBRARY_PATH="" /opt/coreform/bin/coreform_cubit`

[2022-07-15 18:04] sjcrs commented on #133
Hi all,
I'm starting from a STEP file and issuing the following commands

imprint body all
merge tol 5e-7
merge all
group "mat:Iron" equals 1 3 5
group "mat:Aluminum" equals 7 to 11
group "mat:Concrete" equals 6
group "mat:Scintillator" equals 12
group "mat:Vacuum" equals 2
group "mat:Iron" add 4
group "mat:Aluminum" add 13

At this point it crashes.

Andy, I can email you the STEP file and/or a .

[2022-07-18 13:20] Mark-Anderton commented on #134
Thank you both for your input,

I have tried building the plugin from source and have tried running it with the suggestions made by @bam241. Unfortunately, this made no difference.

@makeclean as per your request, please see the contense of the svalinn plugin directory listed below:

`mark.anderton@NEUTRON-2:/opt/Coreform-Cubit-2022.6/bin/plugins/svalinn$ ls
libcfplugincmd.so  libmakeWatertight.so

[2022-07-18 13:27] makeclean commented on #134
Maybe your system is being super picky, make a symbolic link between libMOAB.so and libMOAB.so.5

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mark-Anderton ***@***.***>
Sent: Monday, July 18, 2022 2:20:14 PM
To: svalinn/Cubit-plugin ***@***.***>
Cc: Davis, Andrew ***@***.***>; Mention ***@***.***>
Subject: Re: [svalinn/Cubit-plugin] Cannot open shared obj

[2022-07-19 16:08] Mark-Anderton commented on #134
I decided to start again and setup a new VM running ubuntu 20.04 and try and install the 2021.11 plugin on Coreform Cubit 2022.6. I also decided to run the commands listed by @bam241 for all of the files in the `plugins/svalinn directory` and the `libsvalinn_plugin.so` file in the `plugins` directory. Running this with the command `LD_LIBRARY_PATH="" /opt/Coreform-Cubit-2022.6/bin/coreform_cubit`

[2022-07-20 14:50] Mark-Anderton commented on #134
I've been trying to build the DAGMC plugin from source when following the instructions on [this ](https://github.com/svalinn/Cubit-plugin/blob/develop/README_dev.md) page I get the error `[ 70%] Built target pyne_dagmc-shared
make: *** [Makefile:130: all] Error 2`. The file I've attached shows the entire console output from the `make` command when trying to build DAGMC. Do you know how I could sol

[2022-07-23 07:28] bam241 commented on #134
@Mark-Anderton we are working on building the plugin for cubit 2022.6.
if you want to try it you can download it from:
https://github.com/svalinn/Cubit-plugin/actions/runs/2714269727
(choose the one corresponding to your setup)

those have been built correctly but have  not been tested, so they might not work :)